<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', user => {
          if (!user) {
            window.location.href = "/404/";
          }
        });
        
        // Führen Sie eine zusätzliche Überprüfung durch, falls das Widget bereits initialisiert wurde
        // bevor das Event ausgelöst wurde.
        if (!window.netlifyIdentity.currentUser()) {
          window.location.href = "/404/";
        }
      } else {
        console.log("Netlify Identity Widget not loaded");
      }
    });
  </script>

</html>
